.App {
    margin-top: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.board1 {
    display: flex;
    margin: 10px 100px 10px 10px;
    border: solid lightgray;
    border-radius: 5px;
}

.board2 {
    display: flex;
    margin: 10px;
    border: solid lightgray;
    border-radius: 5px;
}

.list {
    width: content-box;
    min-height: 200px;
    margin: 20px;
    padding: 0;
    display: block;
    justify-content: center;
}

.listItem {
    padding: 0;
    justify-content: center;
    background-color: whitesmoke;
    margin: 5px;
    width: available;
    cursor: pointer;
    list-style: none;
    border-radius: 5px;
}


